<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.parkhelp.dao.system.UserInfoMapper">
	<resultMap id="userInfo" type="com.parkhelp.po.system.UserInfo">
		<id column="id" property="id" />
		<result column="age" property="age" />
		<result column="createdTime" property="createdTime" />
		<result column="creater" property="creater" />
		<result column="dbStatus" property="dbStatus" />
		<result column="loginname" property="loginname" />
		<result column="password" property="password" />
		<result column="remark" property="remark" />
		<result column="role" property="role" />
		<result column="sex" property="sex" />
		<result column="telnum" property="telnum" />
		<result column="updatedTime" property="updatedTime" />
		<result column="updater" property="updater" />
		<result column="username" property="username" />
		<result column="workNo" property="workNo" />
		<result column="parkid_id" property="parkid_id" />
		<result column="batchno" property="batchno" />
		<result column="work_status" property="work_status" />
	</resultMap>
	<select id="findAll" parameterType="com.parkhelp.po.system.UserInfo"
		resultMap="userInfo">
		SELECT * FROM t_userinfo
		<where>
			<if test="loginname!=null and loginname!=''">
				and loginname like '%${loginname}%'
			</if>
			<if test="username!=null and username!=''">
				and username like '%${username}%'
			</if>
		</where>
		<!-- order by deliver_phone ${order} limit #{page},#{rows} -->
	</select>
	<select id="findById" parameterType="java.lang.String"
		resultMap="userInfo">
		SELECT * FROM  t_userinfo WHERE id=#{id}
	</select>
	<insert id="addUserInfo" parameterType="com.parkhelp.po.system.UserInfo"
		keyProperty="id">
		<selectKey keyProperty="id" order="BEFORE" resultType="String">
			select replace(uuid(),'-', '') from dual
		</selectKey>
		insert into t_userinfo(
		id,
	 	age,
	  	createdTime,
	 	creater,
		dbStatus,
	 	loginname,
		password,
		remark,
		role,
		sex,
		telnum,
	 	updatedTime,
		updater,
		username,
		workNo,
	 	parkid_id,
	 	batchno,
	 	work_status
		)
		value(
		#{id},
	 	#{age},
	  	#{createdTime},
	 	#{creater},
		#{dbStatus},
	 	#{loginname},
		#{password},
		#{remark},
		#{role},
		#{sex},
		#{telnum},
	 	#{updatedTime},
		#{updater},
		#{username},
		#{workNo},
	 	#{parkid_id},
	 	#{batchno},
	 	#{work_status}
		)
	</insert> 
	<delete id="delete" parameterType="java.lang.String">
		delete from t_userinfo where
		id=#{id}
	</delete>
	<update id="update" parameterType="com.parkhelp.po.system.UserInfo">
		update t_userinfo set
	 	age=#{age},
	  	createdTime=#{createdTime},
	 	creater=#{creater},
		dbStatus=#{dbStatus},
	 	loginname=#{loginname},
		password=#{password},
		remark=#{remark},
		role=#{role},
		sex=#{sex},
		telnum=#{telnum},
	 	updatedTime=#{updatedTime},
		updater=#{updater},
		username=#{username},
		workNo=#{workNo},
	 	parkid_id=#{parkid_id},
	 	batchno=#{batchno},
	 	work_status=#{work_status}
		where id=#{id}
	</update>
</mapper>


